ul{
    list-style: none;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    margin-top: 30px;
}

ul a{
    text-decoration: none;
    color: red;
    padding: 5px 20px;
    
}
ul a:hover{
    background: #fff;
    color: black;
    border-radius: 20px;
    box-shadow: blue 6px 6px 50px;
}


.tablica_utakmica{
border-collapse:collapse;
}

.tablica_utakmica td{
border:2px solid green;
text-align: center; 
vertical-align: middle;
}
.sport_tiket{
float: right;
background-color: darkcyan;
border: 1px solid black;
}