<html>
<head>
    <meta charset="utf8" />
    <title>Kladionica: Utrka pasa</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <style>
        #psi:after {
        content: "| ||Kraj";
        background-color: #000;
        position: absolute;
        width: 5px;
        height: 800px;
        top: 10px;
        left: 1475px;
        display: block;
        }
    </style>
</head>
<body>
    <canvas width="20" height="800" id="canvas" style="border:black solid 3px;float: right;"></canvas>
    <h1>Utrka pasa</h1>
    <hr>
    Jack:
    <hr>
    <p id="p1" style="text-indent: 0px;"><span><img src="dog1.jpeg" alt="dog1" width="50px"></span></p><hr>
    
    John:
    <hr><p id="p2" style="text-indent: 0px;"><span><img src="dog2.jpeg" alt="dog2" width="50px"></span></p><hr>
    
    Mack:
    <hr><p id="p3" style="text-indent: 0px;"><span><img src="dog3.webp" alt="dog3" width="50px"></span></p><hr>
    
    Phil:
    <hr><p id="p4" style="text-indent: 0px;"><span><img src="dog4.webp" alt="dog4" width="50px"></span></p><hr>
    
    Guns:
    <hr><p id="p5" style="text-indent: 0px;"><span><img src="dog5.webp" alt="dog5" width="50px"></span></p><hr>
    <div id="oklada">        
        Odaberi psa:<br>
        <label for="pas1">Jack</label><input type="radio" name="odabir" id="pas1" checked>
        <label for="pas2">John</label><input type="radio" name="odabir" id="pas2">
        <label for="pas3">Mack</label><input type="radio" name="odabir" id="pas3">
        <label for="pas4">Phil</label><input type="radio" name="odabir" id="pas4">
        <label for="pas5">Guns</label><input type="radio" name="odabir" id="pas5">
        <br>
        <input type="number" id="ulog" min="1" max="10" value="1"><button id="ulozi">Igraj</button>
        <p id="pobjednik" style="font-weight: bold;"></p>
    </div>
    <script>
        var ulog;
        crtaj();
        $("#canvas").css("position","absolute");
        $("#canvas").css("left","1000px");
        
        function crtaj() 
        {
            var ctx = $( "#canvas" ).get(0).getContext( "2d" );   
            var promijeni=0;
            for( var x = 0; x < 2; ++x )
                for( var y = 0; y < 99; ++y )
                {
                    if(promijeni==0)
                    {
                        ctx.fillStyle = "black";
                        promijeni=1;
                    }
                    else
                    {
                        ctx.fillStyle = "white";
                        promijeni=0;
                    }
                    
                    ctx.fillRect( x*10, y*10, 10, 10 );
                }
        }
        $("#ulozi").on("click",function()
        {
            $("#oklada").hide();
            for(var i =1;i<=5;i++)
            { 
                $( "#p"+ i ).css("text-indent","0px");
            }
            ulog=parseInt($("#ulog").val());
            move_dogs();
        });
        function move_dogs() 
        {
            var flag=false;
            for(var i =1;i<=5;i++)
            { 
                var pomicanje=Math.floor(Math.random() * 3) + 1;
                var pikseli=parseInt($( "#p"+ i ).css("text-indent"));
                pikseli+=pomicanje;
                $( "#p"+ i ).css("text-indent",pikseli+"px");
                if(pikseli>1000-50-10)//50 velicina slike,20 velicina canvasa
                {
                    $("#pobjednik").html("Pobjednik pas "+i);
                    flag=true;
                    $("#oklada").show();
                    //reguliraj iznos na racunu
                    break;
                }
            }
            if(flag==false)
                setTimeout( move_dogs, 10 ); 
        }
    </script>

</body>
</html>    
